<a href="https://colab.research.google.com/github/Infant-Joshva/Data-Science-learning-path/blob/main/DS-Practice-Notebooks/DS01-python-sql-pandas/Python_Recap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables and Data types

In [ ]:
age = 10
print(age, type(age))

10 <class 'int'>

In [ ]:
price=99.9
print(price, type(price))

99.9 <class 'float'>

In [ ]:
name='Infant joshva'
print(name, type(name))

Infant joshva <class 'str'>

In [ ]:
is_active = True
print(is_active, type(is_active))

True <class 'bool'>

In [ ]:
addres = None
print(addres, type(addres))

None <class 'NoneType'>

# Variable scope

Local -> Enclosing -> Global -> Build-in

## Local

In [ ]:
# Local variabel is variable inside the function

def order(food):
  print(food)

order('Pizza')

Pizza

In [ ]:
# We cant call the variable givin inside the function is called the local variables
print(food)

NameError: name 'food' is not defined

## Enclosing

In [ ]:
# We can use the variable that was used inside the function like nested function, function inside the function

def kart():
  discount=10

  def applying_discount():
    print('Applying the discount',discount,'%')

  applying_discount()

kart()

Applying the discount 10 %

## Global

In [ ]:
# We can use the variable globally in all function

user_name = 'Infant Joshva'

def home_page():
  print('Welcome the home page',user_name)

def profile_page():
  print('Welcome the profile page',user_name)

home_page()
profile_page()

#here we using the user_name page globally

Welcome the home page Infant Joshva
Welcome the profile page Infant Joshva

## Build-in

In [ ]:
# Some build-in variables created by python is called as "Buil-in" variables

print(__import__)

<built-in function __import__>

* Coimbining all together

In [ ]:
delivery_parter = 'Swiggy' # Global variable

def item():
  item = 'Biriyani' #Enclosing variable

  def order_quantity():
    quantity = 6 #Local variable
    print(f"Ordering {item} amount {quantity}kg via {delivery_parter}")

  order_quantity()

item()

Ordering Biriyani amount 6kg via Swiggy

# Type casting

## Type casting 1

In [ ]:
x = "10"
print(type(x))

<class 'str'>

In [ ]:
x = "10"
print(int(x))
print(type(int(x)))

10
<class 'int'>

## Type casting 2

In [ ]:
y = "10"
a=int(y)

print(type(y))
print(type(a))

<class 'str'>
<class 'int'>

In [ ]:
x="10"
y="1"

print(x+y)
print(int(x)+int(y))

101
11
101

* **When it wont work**

In [ ]:
x='a'

print(int(x)) # It wont work because we can't casting original string to int

ValueError: invalid literal for int() with base 10: 'a'

In [ ]:
y=10

print(type(str(y))) # It will work because we can casting original int

<class 'str'>

# Operators

## Arithmatic

In [ ]:
a=20
b=10

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a // b) #floor

30
10
200
2.0
0
10240000000000
2

## Comparision

In [ ]:
a=10
b=20

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

## Logical

In [ ]:
a=True
b=False

print(a and b)
print(a or b)
print(not a)

False
True
False

### Practical

* **Billing  calculation**

In [ ]:
amount=1200
tax=amount*0.18
total=amount+tax

print(f"actual total {total}")

if total>=1000:
  discount = total *0.10
  total -= discount

print(total)

actual total 1416.0
1274.4

* **Student calculation**

In [ ]:
age=60
student='Yes'

if age>=60 or student=='Yes':
  print('Eligible for discount')
else:
  print('Not eligible for discount')
#

Eligible for discount

# Input

In [ ]:
a=10
b=20
# Thi code is called hard coding, it's not a best practice
print(a+b)

30

## Input method 1

In [ ]:
a = input("Enter the first number: ") #By default python will collect all as str, that's why it's give output as concatenate
b = input("Enter the second number: ")
print(a+b)

Enter the first number: 10
Enter the second number: 20
1020

In [ ]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
print(a+b)

Enter the first number: 10
Enter the second number: 20
30

## Input method 2 - Scheduling

### **sys.argv**

* in this code block used in company for scheduling code we dont need to enter input it will take it from any database or whichever database was given for it



> Note this code only works in local desktop terminal

In [ ]:
import sys

fullname=sys.argv[1]

#format the name
email=fullname.lower().replace(" ",".") + "@gmail.com"

print(fullname)
print(email)

-f
-f@gmail.com

* What if user want lastname

In [ ]:
import sys

fullname=sys.argv[1]
lastname=sys.argv[2]

#format the name
email=fullname.lower().replace(" ",".") + lastname + "@gmail.com"

print(fullname+lastname)
print(email)

-f/root/.local/share/jupyter/runtime/kernel-080015a9-bcbc-4a82-a1ce-f37ae4b3ed65.json
-f/root/.local/share/jupyter/runtime/kernel-080015a9-bcbc-4a82-a1ce-f37ae4b3ed65.json@gmail.com

* if user did not enter the last name it will through the error, so we use this check to solve this

In [ ]:
import sys

if len(sys.argv) == 2: # it will if user did not enter the lastname otherwise it will exit
  print("Please enter the last name")
  sys.exit()

fullname=sys.argv[1]
lastname=sys.argv[2]

#format the name
email=fullname.lower().replace(" ",".") + lastname + "@gmail.com"

print(fullname+lastname)
print(email)

-f/root/.local/share/jupyter/runtime/kernel-080015a9-bcbc-4a82-a1ce-f37ae4b3ed65.json
-f/root/.local/share/jupyter/runtime/kernel-080015a9-bcbc-4a82-a1ce-f37ae4b3ed65.json@gmail.com

* if user has 2 more names we can use this

In [ ]:
import sys

if len(sys.argv) == 2: # it will if user did not enter the lastname otherwise it will exit
  print("Please enter the last name")
  sys.exit()

fullname="".join(sys.argv[1:]) # user can enter their fullnames without barriers

#format the name
email=fullname.lower().replace(" ",".") + "@gmail.com"

print(fullname)
print(email)

# String handling and manipulation

* **Lower,Upper,Capitalize**

In [ ]:
name = "infant Joshva"

print(name.lower())
print(name.upper())
print(name.capitalize()) # it will captalize the first word alone

infant joshva
INFANT JOSHVA
Infant joshva

* Masked - **string slicing**

In [ ]:
mobile_no="8899999900"

masked = mobile_no[:2] + "*" *6 + mobile_no[-2:]

print(masked)

88******00

* **Title**

In [ ]:
# Here all the datas are look like ugly, so we can use the title fuction to solve this issue
song = "SHApe oF yOu"
artist = "eD sHeeRAn"

Foramtted = song.title() + " - " + artist.title()
print(Foramtted)

Shape Of You - Ed Sheeran

* **Replace**

In [ ]:
from os import replace
pickup_location = "Gandhipuram Bus Stop"

fixed_location = pickup_location.replace("Gandhipuram Bus Stop","Singanallur Bus Stand")

print(fixed_location)

Singanallur Bus Stand

* **Split,Strip** - In split default delimter is **space**

In [ ]:
uber_message = "Your booking id is: UB123456. Please keep it safe"

booking_id = uber_message.split(":")[1].split(".")[0].strip()
#We can split the word by using the delimter which is in front of the target values
# And strip is used to remove the space before and after the target values
print(booking_id)

UB123456

In [ ]:
dirty_input = "   hi "
clean_input=dirty_input.strip()
print(clean_input)

hi

* Search the string

In [ ]:
promo_msg = "Use the Zomato100 to get 100 off on your first order"
if "Zomato100" in promo_msg:
  print("Offer is valid")
else:
  print("Offer is invalid")

Offer is valid

* **Find** - Find the position of target value

In [ ]:
Feedback = "The driver was polite and the ride was safe"

print("Position is:",Feedback.find("polite"))

Position is: 15

* **Join**

In [ ]:
name="Infant Joshva"

initials=" ".join([word[0].upper() for word in name.split()])
print(initials)

I J

* **Len**

In [ ]:
message="The trip was good and everyone enjoyed it!!"
length_of_message=len(message) #it will count the each letter
print(length_of_message)

43

In [ ]:
message="The trip was good and everyone enjoyed it!!"
length_of_message=len(message.split())
#it will count the each word,So we can count the word in sentence with the help of len with split()
print(length_of_message)

8

# Conditional statement - **if,else,elif**

* **If**

In [ ]:
age=18

if age>=18:
  print("You can vote")

You can vote

* **If,else**

In [ ]:
age=17

if age>=18:
  print("You can vote")
else:
  print("You won't vote")

You won't vote

* **Elif**

In [ ]:
marks = 46

if marks>=90:
  print("Grade A")
elif marks>=60:
  print("Grade B")
elif marks>=40:
  print("Grade C")
else:
  print("Grade D")

Grade C

* **Nested if**

In [ ]:
age = 15
has_license = 'Yes'

print("your age is:",age)
print("Do you have a license:",has_license)

if age>=18:
  if has_license=='Yes':
    print("You can drive")
  else:
    print("You can't drive")
else:
  print("You are too young")

your age is: 15
Do you have a license: Yes
You are too young

* Condition with **And**

In [ ]:
age = 18
has_license = 'No'

if age>=18 and has_license == 'Yes':
  print("Your eligible to ride")
else:
  print("You are not eligible to ride")

You are not eligible to ride

* Condition with **Or**

In [ ]:
mark = 29
attendance = 80

if mark>=35 or attendance >=80:
  print("You are eligible to write to a sem exam")
else:
  print("You are not eligible to write a sem exam")

You are eligible to write to a sem exam

In [ ]:
# Condition: If the user has recharge for the amount of 399 or
# if the user current data is more than 1gb is eligible to get offer

recharge_amount = 299
data_balance = 1.2

if recharge_amount == 399 or data_balance >= 1:
  print("You are eligible for the offer")
else:
  print("You are not eligible for the offer")

You are eligible for the offer



> Condition with **And, Or**

In [ ]:
#Swiggy offer

order_amount = 500
day = "Saturday"
membership = "Yes"

if (order_amount >= 1000 and day == "Saturday") or membership == "Yes":
  print("You are eligible for the offer")
else:
  print("You are not eligible for the offer")

You are eligible for the offer

# Loops

## **For**



> In for loop you will know the iterate count

In [ ]:
name_list = ['Vijay','Ajay','Karthik','Dhanush','Surya']

for name in name_list:
  print(name.upper())

VIJAY
AJAY
KARTHIK
DHANUSH
SURYA

## **While**



> It will works util our condition statisfied

> In while loop you wont know the iterate count

In [ ]:
Correct_pin = 456
user_pin = int(input())

while user_pin != Correct_pin:
  print("Incorrect pin")
  user_pin = int(input())

print("\nPermission Graunted")

45
Incorrect pin
456

Permission Graunted

### Break



> How to write if condition and break in for loop

In [ ]:
roll_no = [1,3,4,9,7,6,8,2,10,9,5,12,11,13]

for roll in roll_no:
  if roll == 5:
    break # The loop will break if the condition is passed
  print(roll)

1
3
4
9
7
6
8
2
10
9

### Continue -> Skip

In [ ]:
Numbers = [2,-5,7,8,-3,-1,1,3]

for num in Numbers:
  if num < 0:
    continue # The loop will skip failed numbers in condition and goes to next values if the condition is passed
  print(num)

2
7
8
1
3

### Passs



> **Pass** is placeholder - If we want a loop in future but it wont need for now, so we can use the pass to skip the loop

In [ ]:
Numbers = [2,-5,7,8,-3,-1,1,3]

for i in Numbers:
    pass #Future logic implementation

print(Numbers)

[2, -5, 7, 8, -3, -1, 1, 3]



> Some usecases

In [ ]:
# Use case 1: Timer

count = 5

while count>0:
  print(f"countdown {count}")
  count -= 1
print("Times up!!!")

countdown 5
countdown 4
countdown 3
countdown 2
countdown 1
Times up!!!

In [ ]:
# Usecase 2: Amazon Kart

Kart = []

# True means the loop will start's without condition and it goes infinity,
# so we need to give some logic to stop

while True:
  item = input("Add item(type'Done' to finish shopping): ")
  if item.lower() == "done":
    break
  Kart.append(item)

print(Kart)

Add item(type'Done' to finish shopping): soap
Add item(type'Done' to finish shopping): shampoo
Add item(type'Done' to finish shopping): milk
Add item(type'Done' to finish shopping): brush
Add item(type'Done' to finish shopping): paste
Add item(type'Done' to finish shopping): done
['soap', 'shampoo', 'milk', 'brush', 'paste']

# Functions

In [ ]:
def greeting(name):
  print(f"Hello {name}, welcome!..")

greeting("Infant")

Hello Infant, welcome!..



> Return

In [ ]:
def add(a,b):
  return(a+b)

result = add(2,2)
print(result)

4

## *args

In [ ]:
def add(*args): # *args is can used to give multiple arguments in a function
  total=0
  for num in args:
    total += num #total = total + num
  return(total)

print(add(1,2,3,4,5,6))

21

## Kwargs

In [ ]:
def user_profile(**kwargs): # double * are used to define a kwargs, same like *args but it should be in key and values
  print("User profile")
  for key,value in kwargs.items():
    print(f"{key} : {value}")
  return(user_profile)

user_profile(name = "Infant", age = 24, job = "Data Analyts")

User profile
name : Infant
age : 24
job : Data Analyts

# List

In [ ]:
list = [1,'a',True]
song = ["na ready", "maariii", "seerikalam, parakalam"]
movie = ["Leo", "Theri", "Thuppaki"]
food = ["Biriyani","Dosa","Chappathi"]

print(list)

[1, 'a', True]



> Append

In [ ]:
song.append("Oh enthan penne")
print("After append",song)

After append ['na ready', 'maariii', 'seerikalam, parakalam', 'Oh enthan penne']

> Insert - You can insert whichever place you want

In [ ]:
movie.insert(3,"Jananayagan")
print("After insert",movie)

After insert ['Leo', 'Theri', 'Thuppaki', 'Jananayagan']

> Remove

In [ ]:
song.remove("Oh enthan penne")
print("After remove",song)

After remove ['na ready', 'maariii', 'seerikalam, parakalam']

> Pop

In [ ]:
movie.pop()
print("After pop",movie)

After pop ['Leo', 'Theri', 'Thuppaki']

> Reverse

In [ ]:
movie.reverse()
print("After reverse",movie)

After reverse ['Thuppaki', 'Theri', 'Leo']

> Count

In [ ]:
print("After count",song.count("maariii"))
song

After count 1

['na ready', 'maariii', 'seerikalam, parakalam']

> Slicing

In [ ]:
#Top 2 songs

print("Top 2 songs",song[:2])
print("Top 2 songs",song[1:3])

# Last ordered food

print(food)
print("Last ordered food",food[-2:])
print("Last ordered food",food[-2])

Top 2 songs ['na ready', 'maariii']
Top 2 songs ['maariii', 'seerikalam, parakalam']
['Biriyani', 'Dosa', 'Chappathi']
Last ordered food ['Dosa', 'Chappathi']
Last ordered food Dosa

> Iteration

In [ ]:
for i in song:
  print(f"Song {song.index(i)+1}: ", i)

Song 1:  na ready
Song 2:  maariii
Song 3:  seerikalam, parakalam

In [ ]:
artist = ['Vijay',"Dhanush","DQ"]

for s in song:
  print(f"song :",s,"Artist :",{artist[song.index(s)]})

print("-"*50)

for index,s in enumerate(song):
  print(f"index : ",index,"song :",s)

song : na ready Artist : {'Vijay'}
song : maariii Artist : {'Dhanush'}
song : seerikalam, parakalam Artist : {'DQ'}
--------------------------------------------------
index :  0 song : na ready
index :  1 song : maariii
index :  2 song : seerikalam, parakalam

> Update

In [ ]:
print("Actual Food list", food)
food[1] = "Idly"
print("Updated Food list", food)

Actual Food list ['Biriyani', 'Dosa', 'Chappathi']
Updated Food list ['Biriyani', 'Idly', 'Chappathi']

> Enumerate Function

In [ ]:
artist = ['Vijay',"Dhanush","DQ"]

for s in song:
  print(f"song :",s,"Artist :",{artist[song.index(s)]})

print("-"*50)

for index,s in enumerate(song):
  print(f"index : ",index,"song :",s)

song : na ready Artist : {'Vijay'}
song : maariii Artist : {'Dhanush'}
song : seerikalam, parakalam Artist : {'DQ'}
--------------------------------------------------
index :  0 song : na ready
index :  1 song : maariii
index :  2 song : seerikalam, parakalam

# Tuple

* Tuple is Immutable
* Faster and mostly used as readonly

In [ ]:
trip_summary=("ubergo","chennai","chennai","airport",500.00,"completed")
trip_summary

('ubergo', 'chennai', 'chennai', 'airport', 500.0, 'completed')

> Access by index

In [ ]:
print(trip_summary[1])

chennai

> Loop threw

In [ ]:
for i in trip_summary:
  print(i)

ubergo
chennai
chennai
airport
500.0
completed

> Length

In [ ]:
print(trip_summary)
print(len(trip_summary))

('ubergo', 'chennai', 'chennai', 'airport', 500.0, 'completed')
6

> Count and Index

In [ ]:
print(trip_summary.count("chennai"))
print(trip_summary.index("airport"))

2
3

# Set

* set is inordered and Mutable
* Eliminate

In [ ]:
a = {1,2,3,4}
print(a)

{1, 2, 3, 4}

In [ ]:
list_A = [1,2,3,3]
print(list_A)
b=set(list_A) # Wont allow duplicate
print(b)

[1, 2, 3, 3]
{1, 2, 3}

> Union

In [ ]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}

print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8}

> Intersection

In [ ]:
set_cities_1={"Coimbatore","Madurai","chennai","banglore"}
set_cities_2={"Coimbatore","Madurai","chennai","banglore","hyderabad"}

print(set_cities_1.intersection(set_cities_2))

{'Coimbatore', 'banglore', 'Madurai', 'chennai'}

> Difference

In [ ]:
set_cities_diff1={"Coimbatore","Madurai","chennai","banglore"}
set_cities_diff2={"Coimbatore","Madurai","chennai","banglore","hyderabad"}

print(set_cities_diff2.difference(set_cities_diff1))

{'hyderabad'}

> Mutable - Can do Add and Remove but wont Update

In [ ]:
set_cities_1.add("Delhi")
print(set_cities_1)

{'Coimbatore', 'chennai', 'banglore', 'Madurai', 'Delhi'}

> Dicard - Suppose we want to delete any element is dict but we dont know it is presented or not in set, if not it will raise an error. So you can use dicard to safe run

> If it presented it will remove, If not it wont do anything?

In [ ]:
set1={1,2,3,4,5,6}
set1.remove(7)
print(set1)

KeyError: 7

In [ ]:
set1={1,2,3,4,5,6}
set1.discard(7)
print(set1)

{1, 2, 3, 4, 5, 6}

# Dict

In [ ]:
trip = {
    "pickup" : "Singanallur bus stop",
    "drop" : "Singanallur bus stop",
    "distance" : 10,
    "gender" : "male",
    "price" : 500
}

print(trip["price"])

500

> Get

In [ ]:
trip = {
    "pickup" : "Singanallur bus stop",
    "drop" : "Singanallur bus stop",
    "distance" : 10,
    "gender" : "male",
    "price" : 500
}

print(trip["phone_num"]) # It will raise an error if it not availabel

KeyError: 'phone_num'

In [ ]:
trip = {
    "pickup" : "Singanallur bus stop",
    "drop" : "Singanallur bus stop",
    "distance" : 10,
    "gender" : "male",
    "price" : 500
}

print(trip.get("phone_num")) # It wont raise an error you should this for search - best practice

None

> Keys

In [ ]:
print(trip.keys())

dict_keys(['pickup', 'drop', 'distance', 'gender', 'price'])

> Values

In [ ]:
print(trip.values())

dict_values(['Singanallur bus stop', 'Singanallur bus stop', 10, 'male', 500])

> Iteraterate

In [ ]:
trip = {
    "pickup" : "Singanallur bus stop",
    "drop" : "Singanallur bus stop",
    "distance" : 10,
    "gender" : "male",
    "price" : 500
}

for i,j in trip.items():
  print(f"{i} : {j}")

pickup : Singanallur bus stop
drop : Singanallur bus stop
distance : 10
gender : male
price : 500

> Update

In [ ]:
trip = {
    "pickup" : "Singanallur bus stop",
    "drop" : "Singanallur bus stop",
    "distance" : 10,
    "gender" : "male",
    "price" : 500
}

trip.update({"car_model":"Swift"}) # Can add without key
print(trip)

{'pickup': 'Singanallur bus stop', 'drop': 'Singanallur bus stop', 'distance': 10, 'gender': 'male', 'price': 500, 'car_model': 'Swift'}

In [ ]:
trip = {
    "pickup" : "Singanallur bus stop",
    "drop" : "Singanallur bus stop",
    "distance" : 10,
    "gender" : "male",
    "price" : 500
}

trip.update({"car_model":"Volvo"})
print(trip)

{'pickup': 'Singanallur bus stop', 'drop': 'Singanallur bus stop', 'distance': 10, 'gender': 'male', 'price': 500, 'car_model': 'Volvo'}

> Pop

In [ ]:
trip.pop('car_model')
print(trip)

{'pickup': 'Singanallur bus stop', 'drop': 'Singanallur bus stop', 'distance': 10, 'gender': 'male', 'price': 500}

> Iterate with duplicate

In [ ]:
trip = {
    "ID" : "UB1234",
    "pickup" : "Singanallur bus stop",
    "drop" : "Singanallur bus stop",
    "distance" : 10,
    "gender" : "male",
    "price" : 500,
    "ID" : "UB1235"
}
# It wont allow duplicate, it can accept in defining stage, but wont show in result, will take the latest value
for key,value in trip.items():
  print(f"{key} : {value}")

ID : UB1235
pickup : Singanallur bus stop
drop : Singanallur bus stop
distance : 10
gender : male
price : 500

> Access the multiple values

In [ ]:
trip = {
    "ID" : "UB1234",
    "pickup" : "Singanallur bus stop",
    "drop" : ["Bus stop","Airport","Railway station"],
    "distance" : 10,
    "gender" : "male",
    "price" : 500,
    "ID" : "UB1235"
}

print(trip["drop"][1])

Airport

> Iterate the multiple values with their single key

In [ ]:
trip = {
    "ID" : "UB1234",
    "pickup" : "Singanallur bus stop",
    "drop" : ["Bus stop","Airport","Railway station"],
    "distance" : 10,
    "gender" : "male",
    "price" : 500,
    "ID" : "UB1235"
}

for location in trip["drop"]:
  print(location)

Bus stop
Airport
Railway station

> Iterate diffrent dict with the list

In [ ]:
trips = [
    {"id":"UB1234","pickup":"Singanallur bus stop","drop":"Singanallur bus stop","distance":10,"gender":"male","price":500},
    {"id":"UB1235","pickup":"Singanallur bus stop","drop":"Singanallur bus stop","distance":10,"gender":"male","price":500},
    {"id":"UB1236","pickup":"Singanallur bus stop","drop":"Singanallur bus stop","distance":10,"gender":"male","price":500}
]

for trip in trips:
  print(trip["id"])

UB1234
UB1235
UB1236

> With dict

In [ ]:
trips = {
   "trip-1" : {"id":"UB1234","pickup":"Singanallur bus stop","drop":"Airport","distance":10,"gender":"male","price":500},
   "trip-2" :{"id":"UB1235","pickup":"Singanallur bus stop","drop":"Railway station","distance":10,"gender":"male","price":600},
   "trip-3" : {"id":"UB1236","pickup":"Singanallur bus stop","drop":"Gandhipuram bus stop","distance":10,"gender":"male","price":900}
}

print("Trip 1 details", trips["trip-1"]["price"])

Trip 1 details 500

In [ ]:
trips = {
   "trip-1" : {"id":"UB1234","pickup":"Singanallur bus stop","drop":"Airport","distance":10,"gender":"male","price":500},
   "trip-2" :{"id":"UB1235","pickup":"Singanallur bus stop","drop":"Railway station","distance":10,"gender":"male","price":600},
   "trip-3" : {"id":"UB1236","pickup":"Singanallur bus stop","drop":"Gandhipuram bus stop","distance":10,"gender":"male","price":900}
}


for trip_id,trip_details in trips.items():
  print(trip_id)
  print(trip_details['pickup'],"->",trip_details['drop'])

trip-1
Singanallur bus stop -> Airport
trip-2
Singanallur bus stop -> Railway station
trip-3
Singanallur bus stop -> Gandhipuram bus stop

# Oops - Concepts



> If we right function inside the class is called as **Method**

In [ ]:
class student:
  def say_hello(self):
    print("Hi student!, How are you")

s1 = student()
s1.say_hello()

Hi student!, How are you

## Constructor

In [ ]:
# Example 1 with constructor

class student:
  def __init__(self,fname,student_age):
    self.name = fname
    self.age = student_age

  def display(self):
    print(f"Name : {self.name}| Age : {self.age}")

s1 = student("Infant",24)
s1.display()

Name : Infant| Age : 24

In [ ]:
# Example 1 with constructor

class employee:
  def __init__(self,name,aadhaar):
    self.emp_name = name
    self.emp_aadhaar = aadhaar

  def office(self):
    print(f"{self.emp_name} entered using Aadhaar: {self.emp_aadhaar}")

  def bank(self):
    print(f"{self.emp_name} opened account using Aadhaar: {self.emp_aadhaar}")

e1 = employee("Infant",123456789)
e1.office()
e1.bank()

Infant entered using Aadhaar: 123456789
Infant opened account using Aadhaar: 123456789

## Without constructor

In [ ]:
# Example 1

class Mathtools:

  def square(self,num):
    return num * num

  def cube(self,num):
    return num * num * num

math = Mathtools()
print(math.square(5))

25

## Inheritance



```
Always you should create a object for child class only
```

### Single inheritance

In [ ]:
# Example 1

class dad:

  def house(self):
    print("Hi !.., Im from dad class and my method name is house")

class child(dad):

  def school(self):
    print("Hi !.., Im from child class and my method name is school")


# Calling a dad class using child class

c = child()
c.house()
c.school()

Hi !.., Im from dad class and my method name is house
Hi !.., Im from child class and my method name is school

In [ ]:
# Example 2

class app1:

  def v1(self):
    print("This is version 1: Orders only")

class app1_1(app1):

  def v2(self):
    print("This is version 2: Orders and return")

# Creating a object for the class
a = app1_1()
a.v1()
a.v2()

This is version 1: Orders only
This is version 2: Orders and return



```
Overwrite
```

In [ ]:
class dad:

  def house(self):
    print("House color is red")

class child(dad):

  def factory(self):
    print("Factory color is yellow")

# Overwriting the dad class method without deleting the dad method

  def house(self):
    print("House color is yellow now")

c = child()
c.factory()
c.house()

Factory color is yellow
House color is yellow now

### Multilevel inheritance

In [ ]:
# Example 1

class grandfather:

  def car(self):
    print("This is grandfather's car")

class father(grandfather):

  def house(self):
    print("This is father house")

class son(father):

  def bike(self):
    print("This is son's bike")

s = son()
s.car() # We can access grandfather's car
s.house() # Also access father house
s.bike() # And son bike

This is grandfather's car
This is father house
This is son's bike

### Hierarchy inheritance

In [ ]:
# Example 1

class dad:

  def house(self):
    print("This is dad's house")

class son_1(dad):

  def factory(self):
    print("This is son_1's factory")

class son_2(dad):

  def hotel(self):
    print("This is son_2's hotel")

# Calling father using son1 but cant son2
s1 = son_1()
s1.house()
s1.factory()

# Calling father using son2 but cant son1
s2 = son_2()
s2.house()
s2.hotel()

This is dad's house
This is son_1's factory
This is dad's house
This is son_2's hotel

### Multiple inheritance

In [ ]:
# Example 1

class dad:

  def house(self):
    print("This is dad's house")

class mom:

  def shop(self):
    print("This is mom's shop")

class daughter(dad,mom):

  def factory(self):
    print("This is daughter factory")


# Calling father and mom using daughter but mom can't access dad, vice versa
d = daughter()
d.house()
d.shop()
d.factory()

This is dad's house
This is mom's shop
This is daughter factory

### Hybrid inheritance



```
-> Using more than 1 type(single, Multilevel, Hierarchy, Multilevel) of inheritance is called Hybrud Inheritance
```

## Polymorphism



```
-> Poly     - Many
-> Morohism - Forms
```

### Method overriding



```
# Overriding means creating a new method with the same name of base class for overwrite the code..!!!
```

In [ ]:
class dad:

  def house(self):
    print("House color is red")

class child(dad):

  def factory(self):
    print("Factory color is yellow")

# Overriding the dad class method without deleting the dad method

  def house(self):
    print("House color is yellow now")

c = child()
c.factory()
c.house()

Factory color is yellow
House color is yellow now

### Method overloading



```
# There's no method overloading in Python, because python claims there's no use of that
```



```
# But Overloading means creating a method with same name but diffrent arguments in single class
```

## Abstraction



```
1. in a Abstract class you can put a rule to next user to implement the given method, It won't run without implent the abs class
2. It's should be done only in inherit class.
3. You should not create a object for abstract class
```

In [ ]:
from abc import ABC, abstractmethod

class manager(ABC):

  @abstractmethod
  def login(self):
    pass

  @abstractmethod
  def logout(self):
    pass

class senior(manager):

  def login(self):
    print("login implemented")

  def logout(self):
    print("logout implemented")

s = senior()
s.login()
s.logout()

login implemented
logout implemented

In [ ]:
from abc import ABC, abstractmethod

class manager(ABC):

  @abstractmethod
  def login(self):
    pass

  @abstractmethod
  def logout(self):
    pass

class senior(manager):

  def login(self):
    print("login implemented")

  # Without implement this it won't run

s = senior()
s.login()

TypeError: Can't instantiate abstract class senior without an implementation for abstract method 'logout'

## Access specifier



```
There are 3 types of Access Specifier
1. Private
2. Public
3. Protected
```

### Access specifier - Variables



```
 Acces inside same class
```

In [ ]:
# Acces inside same class
class Parent:
  def __init__(self):
    self.public_var = "I am a public variable"
    self._protected_var = "I am a protected variable"
    self.__private_var = "I am a private variable"

  def access_from_same_class(self):
    print("Inside parent class:")
    print("Public",self.public_var)
    print("Protected",self._protected_var)
    print("Private",self.__private_var)

p = Parent()
print("↘️Access from SAME class :\n")
p.access_from_same_class()

↘️Access from SAME class :

Inside parent class:
Public I am a public variable
Protected I am a protected variable
Private I am a private variable



```
 Acces from child class
```

In [ ]:
# Acces from child class
class Parent:
  def __init__(self):
    self.public_var = "I am a public variable"
    self._protected_var = "I am a protected variable"
    self.__private_var = "I am a private variable"

class Child(Parent):

  def access_from_child_class(self):
    print("Inside child class:")
    print("Public",self.public_var)
    print("Protected",self._protected_var)
    try:
      print("Private",self.__private_var)
    except:
      print("You can't access private variable from child class")

c = Child()
print("↘️Access from CHILD class :\n")
c.access_from_child_class()

↘️Access from CHILD class :

Inside child class:
Public I am a public variable
Protected I am a protected variable
You can't access private variable from child class

In [ ]:
# Can access Private too with a trick, but it not a good prcatice
class Parent:
  def __init__(self):
    self.public_var = "I am a public variable"
    self._protected_var = "I am a protected variable"
    self.__private_var = "I am a private variable"

class Child(Parent):

  def access_from_child_class(self):
    print("Inside child class:")
    print("Public",self.public_var)
    print("Protected",self._protected_var)
    try:
      print("Private",self._Parent__private_var) # This is the trick(Name mangalin), call the variable using a parent class name
    except:
      print("You can't access private variable from child class")

c = Child()
print("↘️Access from CHILD class :\n")
c.access_from_child_class()

↘️Access from CHILD class :

Inside child class:
Public I am a public variable
Protected I am a protected variable
Private I am a private variable



```
 Acces from stranger class
```

In [ ]:
# Acces from stranger class
class Parent:
  def __init__(self):
    self.public_var = "I am a public variable"
    self._protected_var = "I am a protected variable"
    self.__private_var = "I am a private variable"

class stranger:
  def access_from_stranger_class(self):
    print("Inside stranger class:")
    print("Public",self.public_var)
    print("Proctected",self._protected_var)
    print("Private",self.__private_var)

# We can't any one of the var from the unknown class, but we have solution though it's not a good practice

s = stranger()
print("↘️Access from STRANGER class :\n")
s.access_from_stranger_class()

↘️Access from STRANGER class :

Inside stranger class:

AttributeError: 'stranger' object has no attribute 'public_var'

In [ ]:
# Can also access from stranger class with a trick

class Parent:
  def __init__(self):
    self.public_var = "I am a public variable"
    self._protected_var = "I am a protected variable"
    self.__private_var = "I am a private variable"

class stranger:
  def access_from_stranger_class(self,obj):
    print("Inside stranger class:")
    print("Public",obj.public_var)
    print("Protected",obj._protected_var)
    try:
      print("Private",obj._Parent__private_var) # The trick(Name mangalin) we used previously
    except:
      print("You can't access private variable through stranger class even if your using a arg.")


p = Parent()
s = stranger()
print("↘️Access from STRANGER class :\n")
s.access_from_stranger_class(p)

↘️Access from STRANGER class :

Inside stranger class:
I am a public variable
I am a protected variable
I am a private variable

### Access specifier - Method

* **Note: You can call a method in another method..!**



```
 Access from same class
```

In [ ]:
# Access from same class

class parent:
  def public_method(self):
    print("Public method")

  def _protected_method(self):
    print("Protected method")

  def __private_method(self):
    print("Private method")

  def access_from_same_class(self):
    print("Inside parent class:")
    self.public_method()
    self._protected_method()
    self.__private_method()

p = parent()
print("↘️Access from SAME class :\n")
p.access_from_same_class()

↘️Access from SAME class :

Inside parent class:
Public method
Protected method
Private method



```
 Access from child class
```

In [ ]:
# Access from child class

class parent:
  def public_method(self):
    print("Public method")

  def _protected_method(self):
    print("Protected method")

  def __private_method(self):
    print("Private method")

class child(parent):
  def access_from_child_class(self):
    print("Inside child class:")
    self.public_method()
    self._protected_method()
    try:
      self.__private_method() # We can access with the "Name mangaling" trick
    except:
      print("You cant access private method from child class")

c = child()
print("↘️Access from CHILD class :\n")
c.access_from_child_class()

↘️Access from CHILD class :

Inside child class:
Public method
Protected method
You cant access private method from child class



```
 Access from stranger class
```

In [ ]:
# Access from the stranger class

class parent:
  def public_method(self):
    print("Public method")

  def _protected_method(self): # _ is protected
    print("Protected method")

  def __private_method(self): # __ is private
    print("Private method")

class stranger:
  def access_from_stranger_class(self):
    print("Inside stranger class:")
    try:
      self.public_method()
    except:
      print("You cant access public method from stranger class")
    try:
      self._protected_method()
    except:
      print("You cant access protected method from stranger class")
    try:
      self.__private_method() # We can access with the "Name mangaling" trick
    except:
      print("You cant access private method from child class")

c = stranger()
print("↘️Access from STRANGER class :\n")
c.access_from_stranger_class()

↘️Access from STRANGER class :

Inside stranger class:
You cant access public method from stranger class
You cant access protected method from stranger class
You cant access private method from child class

## Encapsulation

In [ ]:

class order:
  def __init__(self, customer_name, items, total_amount, discount):
    self.customer_name = customer_name #public var
    self.items = items #public var
    self.__total_amount = total_amount #private var
    self.__discount = discount #private var

  def __calculate_final(self): #private method
    return self.__total_amount - self.__discount

  def _get_admin_view(self):
    return {
        "Customer" : self.customer_name,
        "Items" : self.items,
        "Total Amount" : self.__total_amount,
        "Discount" : self.__discount,
        "Final Amount" : self.__calculate_final() # Calling the private method
    }

  def get_customer_view(self): #public method
    return {
        "Customer" : self.customer_name,
        "Items" : self.items,
        "Final Amount" : self.__calculate_final()
    }


# creating seperate class for admin and customer, that's the beauty of Encapsulation

class Adminportal:
  def show_order(self,order):
    return order._get_admin_view()

class Customerportal:
  def show_order(self,order):
    return order.get_customer_view()

# Name mangaling is not possible in encapsulation we define it like UI based

# Passing input

order = order("Infant",["Briyani","Pepper chicken"],600,100)

admin = Adminportal()
customer = Customerportal()

print("Admin portal:")
print(admin.show_order(order))
print("Customer portal:")
print(customer.show_order(order))

Admin portal:
{'Customer': 'Infant', 'Items': ['Briyani', 'Pepper chicken'], 'Total Amount': 600, 'Discount': 100, 'Final Amount': 500}
Customer portal:
{'Customer': 'Infant', 'Items': ['Briyani', 'Pepper chicken'], 'Final Amount': 500}

In [ ]:
# We can access calculate menthod even with order class


class order:
  def __init__(self, customer_name, items, total_amount, discount):
    self.customer_name = customer_name #public var
    self.items = items #public var
    self.__total_amount = total_amount #private var
    self.__discount = discount #private var

  def __calculate_final(self): #private method
    return self.__total_amount - self.__discount

  def _get_admin_view(self):
    return {
        "Customer" : self.customer_name,
        "Items" : self.items,
        "Total Amount" : self.__total_amount,
        "Discount" : self.__discount,
        "Final Amount" : self.__calculate_final() # Calling the private method
    }

  def get_customer_view(self): #public method
    return {
        "Customer" : self.customer_name,
        "Items" : self.items,
        "Final Amount" : self.__calculate_final()
    }


# creating seperate class for admin and customer, that's the beauty of Encapsulation

class Adminportal:
  def show_order(self,order):
    return order._get_admin_view()

class Customerportal:
  def show_order(self,order):
    return order.get_customer_view()

# Name mangaling is not possible in encapsulation we define it like UI based

# Passing input

order = order("Infant",["Briyani","Pepper chicken"],600,100)

admin = Adminportal()
customer = Customerportal()

print("Admin portal:")
print(admin.show_order(order))
print("Customer portal:")
print(customer.show_order(order))

Admin portal:
{'Customer': 'Infant', 'Items': ['Briyani', 'Pepper chicken'], 'Total Amount': 600, 'Discount': 100, 'Final Amount': 500}
Customer portal:
{'Customer': 'Infant', 'Items': ['Briyani', 'Pepper chicken'], 'Final Amount': 500}

# Instance VS Class VS Static

In [17]:
class Myclass:

  def instance_method(self):
    print("Called Instance method")

  @classmethod
  def class_method(cls):
    print("Called Class method")

  @staticmethod
  def static_method():
    print("Called Static method")


# Calling the instance method:
obj = Myclass()
obj.instance_method()

# Calling the class method:
Myclass.class_method()

# Calling the static method:
Myclass.static_method()

Called Instance method
Called Class method
Called Static method

## Class Method

In [18]:
# Example 1

class Employee:
  company = "Google"

  @classmethod
  def change_method(cls, new_name):
    cls.company = new_name

Employee.change_method("OpenAI")
print(Employee.company)

OpenAI

## Static Method



```
In static we dont need to mention "self"
```

In [22]:
class Math:

  @staticmethod
  def add(x,y): #We dont need to put self here
    return(x+y)

print(Math.add(1,2))

3

## Diffrence between them

In [24]:
# Example 1

class Employee:
  company = "Google"

  @classmethod
  def change_method(cls, new_name):
    cls.company = new_name # Here we can change the global variable value

  @staticmethod
  def try_change_company(new_name):
    company = new_name # Here we are trying to do that but, it can't


Employee.change_method("OpenAI")
print("After class method",Employee.company) # It changed the company

Employee.try_change_company("Tesla")
print("After static method",Employee.company) # But it can't changed the company

After class method OpenAI
After static method OpenAI

# File handling

**Mode,Description**

* 'r',Read-only (file must exist)
* 'w',Write-only (overwrites or creates)
* 'a',Append-only (adds to end of file)
* 'r+',Read + write (file must exist)
* 'w+',Write + read (overwrites or creates)
* 'a+',Append + read (creates if not exists)
* 'rb',Read binary
* 'wb',Write binary
* 'ab',Append binary