<a href="https://colab.research.google.com/github/Infant-Joshva/Data-Science-learning-path/blob/main/DS-Practice-Notebooks/DS01-python-sql-pandas/Python_Recap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables and Data types

In [ ]:
age = 10
print(age, type(age))

10 <class 'int'>

In [ ]:
price=99.9
print(price, type(price))

99.9 <class 'float'>

In [ ]:
name='Infant joshva'
print(name, type(name))

Infant joshva <class 'str'>

In [ ]:
is_active = True
print(is_active, type(is_active))

True <class 'bool'>

In [ ]:
addres = None
print(addres, type(addres))

None <class 'NoneType'>

# Variable scope

Local -> Enclosing -> Global -> Build-in

## Local

In [ ]:
# Local variabel is variable inside the function

def order(food):
  print(food)

order('Pizza')

Pizza

In [ ]:
# We cant call the variable givin inside the function is called the local variables
print(food)

NameError: name 'food' is not defined

## Enclosing

In [ ]:
# We can use the variable that was used inside the function like nested function, function inside the function

def kart():
  discount=10

  def applying_discount():
    print('Applying the discount',discount,'%')

  applying_discount()

kart()

Applying the discount 10 %

## Global

In [ ]:
# We can use the variable globally in all function

user_name = 'Infant Joshva'

def home_page():
  print('Welcome the home page',user_name)

def profile_page():
  print('Welcome the profile page',user_name)

home_page()
profile_page()

#here we using the user_name page globally

Welcome the home page Infant Joshva
Welcome the profile page Infant Joshva

## Build-in

In [ ]:
# Some build-in variables created by python is called as "Buil-in" variables

print(__import__)

<built-in function __import__>

* Coimbining all together

In [ ]:
delivery_parter = 'Swiggy' # Global variable

def item():
  item = 'Biriyani' #Enclosing variable

  def order_quantity():
    quantity = 6 #Local variable
    print(f"Ordering {item} amount {quantity}kg via {delivery_parter}")

  order_quantity()

item()

Ordering Biriyani amount 6kg via Swiggy

# Type casting

## Type casting 1

In [1]:
x = "10"
print(type(x))

<class 'str'>

In [3]:
x = "10"
print(int(x))
print(type(int(x)))

10
<class 'int'>

## Type casting 2

In [4]:
y = "10"
a=int(y)

print(type(y))
print(type(a))

<class 'str'>
<class 'int'>

In [7]:
x="10"
y="1"

print(x+y)
print(int(x)+int(y))

101
11
101

* **When it wont work**

In [9]:
x='a'

print(int(x)) # It wont work because we can't casting original string to int

ValueError: invalid literal for int() with base 10: 'a'

In [11]:
y=10

print(type(str(y))) # It will work because we can casting original int

<class 'str'>

# Operators

## Arithmatic

In [12]:
a=20
b=10

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a // b) #floor

30
10
200
2.0
0
10240000000000
2

## Comparision

In [13]:
a=10
b=20

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

## Logical

In [14]:
a=True
b=False

print(a and b)
print(a or b)
print(not a)

False
True
False

### Practical

* **Billing  calculation**

In [15]:
amount=1200
tax=amount*0.18
total=amount+tax

print(f"actual total {total}")

if total>=1000:
  discount = total *0.10
  total -= discount

print(total)

actual total 1416.0
1274.4

* **Student calculation**

In [21]:
age=60
student='Yes'

if age>=60 or student=='Yes':
  print('Eligible for discount')
else:
  print('Not eligible for discount')
#

Eligible for discount

# Input

In [22]:
a=10
b=20
# Thi code is called hard coding, it's not a best practice
print(a+b)

30

## Input method 1

In [25]:
a = input("Enter the first number: ") #By default python will collect all as str, that's why it's give output as concatenate
b = input("Enter the second number: ")
print(a+b)

Enter the first number: 10
Enter the second number: 20
1020

In [24]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
print(a+b)

Enter the first number: 10
Enter the second number: 20
30

## Input method 2 - Scheduling

### **sys.argv**

* in this code block used in company for scheduling code we dont need to enter input it will take it from any database or whichever database was given for it



> Note this code only works in local desktop terminal

In [29]:
import sys

fullname=sys.argv[1]

#format the name
email=fullname.lower().replace(" ",".") + "@gmail.com"

print(fullname)
print(email)

-f
-f@gmail.com

* What if user want lastname

In [30]:
import sys

fullname=sys.argv[1]
lastname=sys.argv[2]

#format the name
email=fullname.lower().replace(" ",".") + lastname + "@gmail.com"

print(fullname+lastname)
print(email)

-f/root/.local/share/jupyter/runtime/kernel-080015a9-bcbc-4a82-a1ce-f37ae4b3ed65.json
-f/root/.local/share/jupyter/runtime/kernel-080015a9-bcbc-4a82-a1ce-f37ae4b3ed65.json@gmail.com

* if user did not enter the last name it will through the error, so we use this check to solve this

In [31]:
import sys

if len(sys.argv) == 2: # it will if user did not enter the lastname otherwise it will exit
  print("Please enter the last name")
  sys.exit()

fullname=sys.argv[1]
lastname=sys.argv[2]

#format the name
email=fullname.lower().replace(" ",".") + lastname + "@gmail.com"

print(fullname+lastname)
print(email)

-f/root/.local/share/jupyter/runtime/kernel-080015a9-bcbc-4a82-a1ce-f37ae4b3ed65.json
-f/root/.local/share/jupyter/runtime/kernel-080015a9-bcbc-4a82-a1ce-f37ae4b3ed65.json@gmail.com

* if user has 2 more names we can use this

In [ ]:
import sys

if len(sys.argv) == 2: # it will if user did not enter the lastname otherwise it will exit
  print("Please enter the last name")
  sys.exit()

fullname="".join(sys.argv[1:]) # user can enter their fullnames without barriers

#format the name
email=fullname.lower().replace(" ",".") + "@gmail.com"

print(fullname)
print(email)

# String handling and manipulation

* **Lower,Upper,Capitalize**

In [36]:
name = "infant Joshva"

print(name.lower())
print(name.upper())
print(name.capitalize()) # it will captalize the first word alone

infant joshva
INFANT JOSHVA
Infant joshva

* Masked - **string slicing**

In [42]:
mobile_no="8899999900"

masked = mobile_no[:2] + "*" *6 + mobile_no[-2:]

print(masked)

88******00

* **Title**

In [44]:
# Here all the datas are look like ugly, so we can use the title fuction to solve this issue
song = "SHApe oF yOu"
artist = "eD sHeeRAn"

Foramtted = song.title() + " - " + artist.title()
print(Foramtted)

Shape Of You - Ed Sheeran

* **Replace**

In [45]:
from os import replace
pickup_location = "Gandhipuram Bus Stop"

fixed_location = pickup_location.replace("Gandhipuram Bus Stop","Singanallur Bus Stand")

print(fixed_location)

Singanallur Bus Stand

* **Split,Strip** - In split default delimter is **space**

In [47]:
uber_message = "Your booking id is: UB123456. Please keep it safe"

booking_id = uber_message.split(":")[1].split(".")[0].strip()
#We can split the word by using the delimter which is in front of the target values
# And strip is used to remove the space before and after the target values
print(booking_id)

UB123456

In [53]:
dirty_input = "   hi "
clean_input=dirty_input.strip()
print(clean_input)

hi

* Search the string

In [48]:
promo_msg = "Use the Zomato100 to get 100 off on your first order"
if "Zomato100" in promo_msg:
  print("Offer is valid")
else:
  print("Offer is invalid")

Offer is valid

* **Find** - Find the position of target value

In [49]:
Feedback = "The driver was polite and the ride was safe"

print("Position is:",Feedback.find("polite"))

Position is: 15

* **Join**

In [52]:
name="Infant Joshva"

initials=" ".join([word[0].upper() for word in name.split()])
print(initials)

I J

* **Len**

In [55]:
message="The trip was good and everyone enjoyed it!!"
length_of_message=len(message) #it will count the each letter
print(length_of_message)

43

In [58]:
message="The trip was good and everyone enjoyed it!!"
length_of_message=len(message.split())
#it will count the each word,So we can count the word in sentence with the help of len with split()
print(length_of_message)

8

# Conditional statement - **if,else,elif**

* **If**

In [59]:
age=18

if age>=18:
  print("You can vote")

You can vote

* **If,else**

In [61]:
age=17

if age>=18:
  print("You can vote")
else:
  print("You won't vote")

You won't vote

* **Elif**

In [62]:
marks = 46

if marks>=90:
  print("Grade A")
elif marks>=60:
  print("Grade B")
elif marks>=40:
  print("Grade C")
else:
  print("Grade D")

Grade C

* **Nested if**

In [66]:
age = 15
has_license = 'Yes'

print("your age is:",age)
print("Do you have a license:",has_license)

if age>=18:
  if has_license=='Yes':
    print("You can drive")
  else:
    print("You can't drive")
else:
  print("You are too young")

your age is: 15
Do you have a license: Yes
You are too young

* Condition with **And**

In [70]:
age = 18
has_license = 'No'

if age>=18 and has_license == 'Yes':
  print("Your eligible to ride")
else:
  print("You are not eligible to ride")

You are not eligible to ride

* Condition with **Or**

In [74]:
mark = 29
attendance = 80

if mark>=35 or attendance >=80:
  print("You are eligible to write to a sem exam")
else:
  print("You are not eligible to write a sem exam")

You are eligible to write to a sem exam

In [77]:
# Condition: If the user has recharge for the amount of 399 or
# if the user current data is more than 1gb is eligible to get offer

recharge_amount = 299
data_balance = 1.2

if recharge_amount == 399 or data_balance >= 1:
  print("You are eligible for the offer")
else:
  print("You are not eligible for the offer")

You are eligible for the offer



> Condition with **And, Or**

In [80]:
#Swiggy offer

order_amount = 500
day = "Saturday"
membership = "Yes"

if (order_amount >= 1000 and day == "Saturday") or membership == "Yes":
  print("You are eligible for the offer")
else:
  print("You are not eligible for the offer")

You are eligible for the offer

# Loops

## **For**



> In for loop you will know the iterate count

In [81]:
name_list = ['Vijay','Ajay','Karthik','Dhanush','Surya']

for name in name_list:
  print(name.upper())

VIJAY
AJAY
KARTHIK
DHANUSH
SURYA

## **While**



> It will works util our condition statisfied

> In while loop you wont know the iterate count

In [85]:
Correct_pin = 456
user_pin = int(input())

while user_pin != Correct_pin:
  print("Incorrect pin")
  user_pin = int(input())

print("\nPermission Graunted")

45
Incorrect pin
456

Permission Graunted

### Break



> How to write if condition and break in for loop

In [87]:
roll_no = [1,3,4,9,7,6,8,2,10,9,5,12,11,13]

for roll in roll_no:
  if roll == 5:
    break # The loop will break if the condition is passed
  print(roll)

1
3
4
9
7
6
8
2
10
9

### Continue -> Skip

In [88]:
Numbers = [2,-5,7,8,-3,-1,1,3]

for num in Numbers:
  if num < 0:
    continue # The loop will skip failed numbers in condition and goes to next values if the condition is passed
  print(num)

2
7
8
1
3

### Passs



> **Pass** is placeholder - If we want a loop in future but it wont need for now, so we can use the pass to skip the loop

In [91]:
Numbers = [2,-5,7,8,-3,-1,1,3]

for i in Numbers:
    pass #Future logic implementation

print(Numbers)

[2, -5, 7, 8, -3, -1, 1, 3]



> Some usecases

In [93]:
# Use case 1: Timer

count = 5

while count>0:
  print(f"countdown {count}")
  count -= 1
print("Times up!!!")

countdown 5
countdown 4
countdown 3
countdown 2
countdown 1
Times up!!!

In [94]:
# Usecase 2: Amazon Kart

Kart = []

# True means the loop will start's without condition and it goes infinity,
# so we need to give some logic to stop

while True:
  item = input("Add item(type'Done' to finish shopping): ")
  if item.lower() == "done":
    break
  Kart.append(item)

print(Kart)

Add item(type'Done' to finish shopping): soap
Add item(type'Done' to finish shopping): shampoo
Add item(type'Done' to finish shopping): milk
Add item(type'Done' to finish shopping): brush
Add item(type'Done' to finish shopping): paste
Add item(type'Done' to finish shopping): done
['soap', 'shampoo', 'milk', 'brush', 'paste']