<a href="https://colab.research.google.com/github/Infant-Joshva/Data-Science-learning-path/blob/main/Project_1(Secure_check)Git/Mini_project_1(Secure_Check).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mini Project(Secure Check) Initialation and Data Cleaning

#### Importing Necessary Packages

In [ ]:
!pip install pandas

In [ ]:
import pandas as pd

In [ ]:
sheet_id= '16qEUKckLFy7j1qoSd1bSQURn9QXDb6ffSBAWzRkPsSg'
sheet_name = "sheet1"

#https://docs.google.com/spreadsheets/d/16qEUKckLFy7j1qoSd1bSQURn9QXDb6ffSBAWzRkPsSg/edit?gid=1282651194#gid=1282651194

url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"

traffic_df=pd.read_csv(url)

In [ ]:
traffic_df.head(10)

####Data Type conversion

In [ ]:
traffic_df.info()

In [ ]:
traffic_df['stop_time'] = pd.to_datetime(traffic_df['stop_date']+' '+ traffic_df['stop_time'])

In [ ]:
traffic_df['stop_date']=pd.to_datetime(traffic_df['stop_date'])

In [ ]:
traffic_df.rename(columns={'stop_time': 'stop_date_time'}, inplace=True)

In [ ]:
# convert to 12-hour format
traffic_df['stop_time_12hr'] = traffic_df['stop_date_time'].dt.strftime('%I:%M %p')

####Handling Null Values

In [ ]:
traffic_df.isnull().sum()

In [ ]:
traffic_df['search_type'].value_counts(dropna=False)

In [ ]:
traffic_df.head(10)

In [ ]:
traffic_df.loc[traffic_df['search_type'].isna(),'search_type']='None' #Replace Nan to None

In [ ]:
traffic_df['country_name'].value_counts()

In [ ]:
traffic_df['driver_gender'].value_counts()

In [ ]:
traffic_df['driver_age_raw'].value_counts()

In [ ]:
traffic_df['driver_race'].value_counts()

In [ ]:
traffic_df['violation_raw'].value_counts()

In [ ]:
traffic_df['violation'].value_counts()

In [ ]:
traffic_df['search_conducted'].value_counts()

In [ ]:
traffic_df['search_type'].value_counts()

In [ ]:
traffic_df['stop_outcome'].value_counts()

In [ ]:
traffic_df['is_arrested'].value_counts()

In [ ]:
traffic_df['stop_duration'].value_counts()

In [ ]:
traffic_df['drugs_related_stop'].value_counts()

In [ ]:
traffic_df['vehicle_number'].value_counts()

####Deleting Unwanted Row

In [ ]:
traffic_df.drop(['driver_age'], axis=1, inplace=True)  # if you only use cleaned age

In [ ]:
traffic_df.drop(['violation'], axis=1, inplace=True)  # if you only use cleaned voilation

In [ ]:
traffic_df.head(10)

In [ ]:
traffic_df['stop_duration']=traffic_df['stop_duration'].str.split(' ').str[0] #slicing 'min' from "stop_duration"

####Deleting Duplicate Values

In [ ]:
traffic_df.drop_duplicates(inplace=True) #Used to drop the duplicate values

In [ ]:
traffic_df.duplicated().sum()

####Storing cleaned data to CSV

In [ ]:
traffic_df.to_csv('cleaned_traffic_stop_new.csv', index=False)

####Storing Cleaned Data to SQL

In [ ]:
db_url = "postgresql+psycopg2://username:password@localhost:5432/db_name" #Database Connection, Host Name, Password, Database Name

In [ ]:
from sqlalchemy import create_engine, inspect
engine=create_engine(db_url) # Importing necessary packages from pandas

In [ ]:
traffic_df.to_sql('traffic_stop',engine,index=False,if_exists='replace') # Creating New Table and storing the cleaned data into SQL

In [ ]:
query = """SELECT * FROM traffic_stop"""

slect_fulltable_df = pd.read_sql(query,engine)
slect_fulltable_df

####SQL queries(Medium level):

In [ ]:
#  1.What are the top 10 vehicle_Number involved in drug-related stops?
query = """
SELECT vehicle_number,COUNT(drugs_related_stop) AS drug_related_stop_count
FROM traffic_stop WHERE drugs_related_stop=TRUE
GROUP BY vehicle_number
ORDER BY drug_related_stop_count DESC LIMIT 10;
"""

query_1_df = pd.read_sql(query,engine)
query_1_df

In [ ]:
# 2.Which vehicles were most frequently searched?
query = """SELECT violation_raw, COUNT(violation_raw) AS search_count FROM traffic_stop WHERE search_conducted='TRUE' GROUP BY violation_raw ORDER BY search_count DESC LIMIT 10;"""

query_2_df = pd.read_sql(query,engine)
query_2_df

In [ ]:
# 4.Which driver age group had the highest arrest rate?
query = """SELECT driver_age_raw, COUNT(is_arrested) AS arrest_count FROM traffic_stop WHERE is_arrested= TRUE GROUP BY driver_age_raw ORDER BY arrest_count DESC LIMIT 10;"""

query_4_df = pd.read_sql(query,engine)
query_4_df

In [ ]:
# 5.What is the gender distribution of drivers stopped in each country?
query = """SELECT country_name,driver_gender,COUNT(driver_gender) AS gender_count FROM traffic_stop GROUP BY country_name,driver_gender ORDER BY country_name,gender_count DESC;"""

query_5_df = pd.read_sql(query,engine)
query_5_df

In [ ]:
# 6.Which race and gender combination has the highest search rate?
query = """SELECT driver_race,driver_gender,COUNT(search_conducted) AS search_count FROM traffic_stop WHERE search_conducted=TRUE GROUP BY driver_race,driver_gender ORDER BY search_count DESC LIMIT 10;"""

query_6_df = pd.read_sql(query,engine)
query_6_df

In [ ]:
# 7.What time of day sees the most traffic stops?
query = """SELECT EXTRACT(HOUR FROM stop_date_time) AS hour_of_day, COUNT(*) AS stop_count
FROM traffic_stop
GROUP BY hour_of_day
ORDER BY stop_count DESC
LIMIT 10;"""

#DOUBT

#"""SELECT EXTRACT(HOUR FROM stop_time) AS hour_of_day, COUNT(hour_of_day) AS stop_count FROM traffic_stop GROUP BY hour_of_day ORDER BY stop_count DESC LIMIT 10;"""

query_7_df = pd.read_sql(query,engine)
query_7_df

In [ ]:
traffic_df['stop_duration'].value_counts()

In [ ]:
# 8.What is the average stop duration for different violations?
query = """SELECT violation,
       ROUND(AVG(CASE stop_duration
               WHEN '0-15' THEN 7.5
               WHEN '16-30' THEN 23
               WHEN '30+' THEN 35
           END),2) AS avg_stop_duration
FROM traffic_stop
GROUP BY violation
ORDER BY avg_stop_duration DESC;"""

query_8_df = pd.read_sql(query,engine)
query_8_df

In [ ]:
# 9.Are stops during the night more likely to lead to arrests?
query = """SELECT EXTRACT(HOUR FROM stop_date_time) AS hour_of_day, COUNT(is_arrested) AS arrest_count
FROM traffic_stop
WHERE is_arrested = TRUE
GROUP BY hour_of_day
ORDER BY arrest_count DESC
LIMIT 10;"""

query_9_df = pd.read_sql(query,engine)
query_9_df

In [ ]:
# 10.Which violations are most associated with searches or arrests?
query = """
SELECT
  violation,
  COUNT(*) AS total_stops_with_search_and_arrest
FROM traffic_stop
WHERE search_conducted = TRUE AND is_arrested = TRUE
GROUP BY violation
ORDER BY total_stops_with_search_and_arrest DESC;
"""

query_10_df = pd.read_sql(query,engine)
query_10_df

In [ ]:
# 11.Which violations are most common among younger drivers (<25)?
query = """
SELECT violation,
COUNT(violation) AS violation_count
FROM traffic_stop
WHERE driver_age_raw<25
GROUP BY violation
ORDER BY violation_count DESC;
"""

query_11_df = pd.read_sql(query,engine)
query_11_df

In [ ]:
# 12.Is there a violation that rarely results in search or arrest?
query = """
SELECT
  violation,
  COUNT(*) AS total_stops_without_search_or_arrest
FROM traffic_stop
WHERE search_conducted = FALSE AND is_arrested = FALSE
GROUP BY violation
ORDER BY total_stops_without_search_or_arrest ASC;
"""

query_12_df = pd.read_sql(query,engine)
query_12_df

In [ ]:
# 13.Which countries report the highest rate of drug-related stops?
query = """
SELECT
  country_name,
  COUNT(drugs_related_stop) AS drug_related_stop_count
FROM traffic_stop
WHERE drugs_related_stop = TRUE
GROUP BY country_name
ORDER BY drug_related_stop_count DESC LIMIT 1;
"""

query_13_df = pd.read_sql(query,engine)
query_13_df

In [ ]:
# 14.What is the arrest rate by country and violation?
query = """
SELECT
  country_name,
  violation,
  ROUND(AVG(CASE WHEN is_arrested = TRUE THEN 1.0 ELSE 0 END) * 100, 2)AS arrest_rate
FROM traffic_stop
GROUP BY country_name, violation
ORDER BY arrest_rate DESC;

"""

query_14_df = pd.read_sql(query,engine)
query_14_df

In [ ]:
# 15.Which country has the most stops with search conducted?
query = """
SELECT
  country_name,
  COUNT(search_conducted) AS search_count
FROM traffic_stop
WHERE search_conducted = TRUE
GROUP BY country_name
ORDER BY search_count DESC LIMIT 1;
"""

query_15_df = pd.read_sql(query,engine)
query_15_df

####SQL queries(Complex):

In [ ]:
#1.Yearly Breakdown of Stops and Arrests by Country (Using Subquery and Window Functions)
query = """
WITH yearly_summary AS
	(SELECT
		country_name,
		EXTRACT(YEAR FROM stop_date) AS year,
		COUNT(is_arrested) AS total_stops,
		SUM(CASE WHEN is_arrested = TRUE THEN 1 ELSE 0 END) AS arrest_count
		FROM traffic_stop
		GROUP BY country_name, EXTRACT(YEAR FROM stop_date))
SELECT country_name,year,total_stops,arrest_count,SUM(arrest_count) OVER (PARTITION BY country_name ORDER BY year) AS cumulative_arrest_count FROM yearly_summary;"""

query_c1_df = pd.read_sql(query,engine)
query_c1_df

In [ ]:
#2.Driver Violation Trends Based on Age and Race (Join with Subquery)
query="""
SELECT ts.driver_age_raw, ts.driver_race, COUNT(*) AS count_race
FROM (
    SELECT driver_age_raw, driver_race
    FROM traffic_stop
    WHERE driver_age_raw IS NOT NULL AND driver_race IS NOT NULL
) AS ts
GROUP BY ts.driver_age_raw, ts.driver_race
ORDER BY ts.driver_age_raw, count_race;
"""

query_c2_df = pd.read_sql(query,engine)
query_c2_df

In [ ]:
#3.Time Period Analysis of Stops (Joining with Date Functions) , Number of Stops by Year,Month, Hour of the Day
#Cast method is used the slice the decimal value
query = """
SELECT
    CAST(EXTRACT(YEAR FROM stop_date) AS INT) AS stop_year,
    CAST(EXTRACT(MONTH FROM stop_date) AS INT) AS stop_month,
    CAST(EXTRACT(HOUR FROM stop_date_time) AS INT) AS stop_hour,
    COUNT(*) AS total_stops
FROM traffic_stop
GROUP BY stop_year, stop_month, stop_hour
ORDER BY stop_year, stop_month, stop_hour;
"""

query_c3_df = pd.read_sql(query,engine)
query_c3_df

In [ ]:
#4.Violations with High Search and Arrest Rates (Window Function)
query = """
SELECT
    violation_raw,
    COUNT(violation_raw) AS total_violation_raw_count,
    SUM(CASE WHEN search_conducted = TRUE THEN 1 ELSE 0 END) AS search_count,
    SUM(CASE WHEN is_arrested = TRUE THEN 1 ELSE 0 END) AS arrest_count,
    ROUND(AVG(CASE WHEN search_conducted = TRUE THEN 1.0 ELSE 0 END) * 100, 2) AS search_avg_rate,
    ROUND(AVG(CASE WHEN is_arrested = TRUE THEN 1.0 ELSE 0 END) * 100, 2) AS arrest_avg_rate
FROM traffic_stop
GROUP BY violation_raw
ORDER BY search_count DESC, arrest_count DESC, search_avg_rate DESC, arrest_avg_rate DESC;
"""

query_c4_df = pd.read_sql(query,engine)
query_c4_df

In [ ]:
#5.Driver Demographics by Country (Age, Gender, and Race)
query = """
SELECT
    country_name,
    ROUND(AVG(driver_age_raw), 1) AS avg_age,
    COUNT(*) AS total_stops,
    SUM(CASE WHEN driver_gender = 'M' THEN 1 ELSE 0 END) AS male_count,
    SUM(CASE WHEN driver_gender = 'F' THEN 1 ELSE 0 END) AS female_count,
    SUM(CASE WHEN driver_race = 'White' THEN 1 ELSE 0 END) AS white_count,
    SUM(CASE WHEN driver_race = 'Black' THEN 1 ELSE 0 END) AS black_count,
    SUM(CASE WHEN driver_race = 'Hispanic' THEN 1 ELSE 0 END) AS hispanic_count,
    SUM(CASE WHEN driver_race = 'Asian' THEN 1 ELSE 0 END) AS asian_count,
    SUM(CASE WHEN driver_race = 'Other' THEN 1 ELSE 0 END) AS other_race_count
FROM traffic_stop
GROUP BY country_name
ORDER BY total_stops DESC;

"""

query_c5_df = pd.read_sql(query,engine)
query_c5_df

In [ ]:
#6.Top 5 Violations with Highest Arrest Rates
query = """
SELECT
  violation_raw,
  COUNT(is_arrested) AS total_stops,
  SUM(CASE WHEN is_arrested = TRUE THEN 1 ELSE 0 END) AS arrest_count,
  ROUND(AVG(CASE WHEN is_arrested = TRUE THEN 1.0 ELSE 0 END) * 100, 2) AS arrest_avg_rate
FROM traffic_stop
GROUP BY violation_raw
ORDER BY arrest_avg_rate DESC
LIMIT 5;
"""

query_c6_df = pd.read_sql(query,engine)
query_c6_df

## The next part will continue in the Py file.