<a href="https://colab.research.google.com/github/Infant-Joshva/Data-Science-learning-path/blob/main/ML%20Project-CropYieldPredictor/notebook/Crop_Production_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project(Crop_Production_Prediction.ipynb) Initialation and Data Cleaning

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd

### Data Cleaning

#### Importing Necessary Packages for Data Cleaning

In [3]:
sheet_id= '1rxG8FoHzFL_0S6FH6fljti1I3uPGDyihMj82_6HE4CU'
sheet_name = "sheet1"

#https://docs.google.com/spreadsheets/d/1rxG8FoHzFL_0S6FH6fljti1I3uPGDyihMj82_6HE4CU/edit?gid=1850441666#gid=1850441666

url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"

df=pd.read_csv(url)

#### Inspecting Dataset

In [4]:
df.to_csv('crop_production.csv')

In [5]:
df.head(6)

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,4,Afghanistan,5312,Area harvested,1371.0,"Almonds, in shell",2019,2019,ha,29203.0,A,Official figure,NaN
1,QCL,Crops and livestock products,4,Afghanistan,5412,Yield,1371.0,"Almonds, in shell",2019,2019,kg/ha,1308.3,A,Official figure,NaN
2,QCL,Crops and livestock products,4,Afghanistan,5510,Production,1371.0,"Almonds, in shell",2019,2019,t,38205.0,A,Official figure,NaN
3,QCL,Crops and livestock products,4,Afghanistan,5312,Area harvested,1371.0,"Almonds, in shell",2020,2020,ha,22134.0,A,Official figure,NaN
4,QCL,Crops and livestock products,4,Afghanistan,5412,Yield,1371.0,"Almonds, in shell",2020,2020,kg/ha,1775.9,A,Official figure,NaN
5,QCL,Crops and livestock products,4,Afghanistan,5510,Production,1371.0,"Almonds, in shell",2020,2020,t,39307.0,A,Official figure,NaN

In [6]:
df['Area'].value_counts()

Area
China               2640
China, mainland     2504
Mexico              2181
T�rkiye             2141
Morocco             1970
                    ...
Tuvalu               203
Kiribati             189
Tokelau              157
Faroe Islands        140
Marshall Islands      23
Name: count, Length: 200, dtype: int64

#### Filtering unwanted col and deleting

In [7]:
df.columns

Index(['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description', 'Note'],
      dtype='object')

In [8]:
df['Domain Code'].value_counts()

Domain Code
QCL    224647
Name: count, dtype: int64

In [9]:
df['Area Code (M49)'].value_counts()

Area Code (M49)
159    2640
156    2504
484    2181
792    2141
504    1970
       ...
798     203
296     189
772     157
234     140
584      23
Name: count, Length: 200, dtype: int64

In [10]:
for col in df.columns:
    vc=df[col].value_counts()
    if len(vc) == 1:
      print('-'*50)
      print(df[col].value_counts())
      print('-'*50)

--------------------------------------------------
Domain Code
QCL    224647
Name: count, dtype: int64
--------------------------------------------------
--------------------------------------------------
Domain
Crops and livestock products    224647
Name: count, dtype: int64
--------------------------------------------------
--------------------------------------------------
Note
Unofficial figure    5098
Name: count, dtype: int64
--------------------------------------------------

In [11]:
#Domain Code

df.drop(['Domain Code'],axis=1,inplace=True)
df.columns

Index(['Domain', 'Area Code (M49)', 'Area', 'Element Code', 'Element',
       'Item Code (CPC)', 'Item', 'Year Code', 'Year', 'Unit', 'Value', 'Flag',
       'Flag Description', 'Note'],
      dtype='object')

In [12]:
#Domain

df.drop(['Domain'],axis=1,inplace=True)
df.columns

Index(['Area Code (M49)', 'Area', 'Element Code', 'Element', 'Item Code (CPC)',
       'Item', 'Year Code', 'Year', 'Unit', 'Value', 'Flag',
       'Flag Description', 'Note'],
      dtype='object')

In [13]:
#Note

df.drop(['Note'],axis=1,inplace=True)
df.columns

Index(['Area Code (M49)', 'Area', 'Element Code', 'Element', 'Item Code (CPC)',
       'Item', 'Year Code', 'Year', 'Unit', 'Value', 'Flag',
       'Flag Description'],
      dtype='object')

In [14]:
# Flag

df.drop(['Flag'],axis=1,inplace=True)
df.columns

Index(['Area Code (M49)', 'Area', 'Element Code', 'Element', 'Item Code (CPC)',
       'Item', 'Year Code', 'Year', 'Unit', 'Value', 'Flag Description'],
      dtype='object')

In [15]:
#Flag Description

df.drop(['Flag Description'],axis=1,inplace=True)
df.columns

Index(['Area Code (M49)', 'Area', 'Element Code', 'Element', 'Item Code (CPC)',
       'Item', 'Year Code', 'Year', 'Unit', 'Value'],
      dtype='object')

In [16]:
df['Year Code'].value_counts()

Year Code
2022    45604
2020    45589
2021    45565
2019    45540
2023    42349
Name: count, dtype: int64

In [17]:
df['Year'].value_counts()

Year
2022    45604
2020    45589
2021    45565
2019    45540
2023    42349
Name: count, dtype: int64

In [18]:
# Year Code

df.drop(['Year Code'],axis=1,inplace=True)
df.columns

Index(['Area Code (M49)', 'Area', 'Element Code', 'Element', 'Item Code (CPC)',
       'Item', 'Year', 'Unit', 'Value'],
      dtype='object')

In [19]:
# Item Code (CPC)

df.drop(['Item Code (CPC)'],axis=1,inplace=True)
df.columns

Index(['Area Code (M49)', 'Area', 'Element Code', 'Element', 'Item', 'Year',
       'Unit', 'Value'],
      dtype='object')

In [20]:
# Area Code (M49)

df.drop(['Area Code (M49)'],axis=1,inplace=True)
df.columns

Index(['Area', 'Element Code', 'Element', 'Item', 'Year', 'Unit', 'Value'], dtype='object')

In [21]:
# Element Code

df.drop(['Element Code'],axis=1,inplace=True)
df.columns

Index(['Area', 'Element', 'Item', 'Year', 'Unit', 'Value'], dtype='object')

#### Pivoting



```
# Pivoting the data to get structure look
```

In [22]:
df

,Area,Element,Item,Year,Unit,Value
0,Afghanistan,Area harvested,"Almonds, in shell",2019,ha,29203.00
1,Afghanistan,Yield,"Almonds, in shell",2019,kg/ha,1308.30
2,Afghanistan,Production,"Almonds, in shell",2019,t,38205.00
3,Afghanistan,Area harvested,"Almonds, in shell",2020,ha,22134.00
4,Afghanistan,Yield,"Almonds, in shell",2020,kg/ha,1775.90
...,...,...,...,...,...,...
224642,Zimbabwe,Production,"Whole milk, evaporated",2019,t,5010.21
224643,Zimbabwe,Production,"Whole milk, evaporated",2020,t,4795.70
224644,Zimbabwe,Production,"Whole milk, evaporated",2021,t,4921.05
224645,Zimbabwe,Production,"Whole milk, evaporated",2022,t,4966.37
224646,Zimbabwe,Production,Wine,2019,t,NaN

In [23]:
# Create a combined pivot column
df["Element_Unit"] = df["Element"] + "_" + df["Unit"].str.replace("/", "_")

In [24]:
df["Element_Unit"]

0         Area harvested_ha
1               Yield_kg_ha
2              Production_t
3         Area harvested_ha
4               Yield_kg_ha
                ...
224642         Production_t
224643         Production_t
224644         Production_t
224645         Production_t
224646         Production_t
Name: Element_Unit, Length: 224647, dtype: object

In [25]:
df.head(10)

,Area,Element,Item,Year,Unit,Value,Element_Unit
0,Afghanistan,Area harvested,"Almonds, in shell",2019,ha,29203.0,Area harvested_ha
1,Afghanistan,Yield,"Almonds, in shell",2019,kg/ha,1308.3,Yield_kg_ha
2,Afghanistan,Production,"Almonds, in shell",2019,t,38205.0,Production_t
3,Afghanistan,Area harvested,"Almonds, in shell",2020,ha,22134.0,Area harvested_ha
4,Afghanistan,Yield,"Almonds, in shell",2020,kg/ha,1775.9,Yield_kg_ha
5,Afghanistan,Production,"Almonds, in shell",2020,t,39307.0,Production_t
6,Afghanistan,Area harvested,"Almonds, in shell",2021,ha,36862.0,Area harvested_ha
7,Afghanistan,Yield,"Almonds, in shell",2021,kg/ha,1743.2,Yield_kg_ha
8,Afghanistan,Production,"Almonds, in shell",2021,t,64256.0,Production_t
9,Afghanistan,Area harvested,"Almonds, in shell",2022,ha,36462.0,Area harvested_ha

In [26]:
#Pivot

pivot_df = df.pivot_table(
    index=["Area", "Item", "Year"],
    columns="Element_Unit",
    values="Value",
    aggfunc="first"
    ).reset_index()

pivot_df

Element_Unit,Area,Item,Year,Area harvested_ha,Laying_1000 An,Milk Animals_An,Producing Animals/Slaughtered_1000 An,Producing Animals/Slaughtered_An,Production_1000 No,Production_t,Stocks_1000 An,Stocks_An,Stocks_No,Yield/Carcass Weight_0.1 g_An,Yield/Carcass Weight_100 g_An,Yield_100 g_An,Yield_100 mg_An,Yield_No_An,Yield_kg_ha
0,Afghanistan,"Almonds, in shell",2019,29203.0,NaN,NaN,NaN,NaN,NaN,38205.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1308.3
1,Afghanistan,"Almonds, in shell",2020,22134.0,NaN,NaN,NaN,NaN,NaN,39307.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1775.9
2,Afghanistan,"Almonds, in shell",2021,36862.0,NaN,NaN,NaN,NaN,NaN,64256.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1743.2
3,Afghanistan,"Almonds, in shell",2022,36462.0,NaN,NaN,NaN,NaN,NaN,63515.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1742.0
4,Afghanistan,"Almonds, in shell",2023,37000.0,NaN,NaN,NaN,NaN,NaN,67000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1810.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92417,Zimbabwe,"Vanilla, raw",2019,23.0,NaN,NaN,NaN,NaN,NaN,9.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,423.8
92418,Zimbabwe,"Vanilla, raw",2020,23.0,NaN,NaN,NaN,NaN,NaN,9.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,430.3
92419,Zimbabwe,"Vanilla, raw",2021,23.0,NaN,NaN,NaN,NaN,NaN,9.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,426.4
92420,Zimbabwe,"Vanilla, raw",2022,23.0,NaN,NaN,NaN,NaN,NaN,9.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,426.8
92421,Zimbabwe,"Vanilla, raw",2023,23.0,NaN,NaN,NaN,NaN,NaN,9.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,427.8

In [27]:
pivot_df.head(10)

Element_Unit,Area,Item,Year,Area harvested_ha,Laying_1000 An,Milk Animals_An,Producing Animals/Slaughtered_1000 An,Producing Animals/Slaughtered_An,Production_1000 No,Production_t,Stocks_1000 An,Stocks_An,Stocks_No,Yield/Carcass Weight_0.1 g_An,Yield/Carcass Weight_100 g_An,Yield_100 g_An,Yield_100 mg_An,Yield_No_An,Yield_kg_ha
0,Afghanistan,"Almonds, in shell",2019,29203.0,NaN,NaN,NaN,NaN,NaN,38205.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1308.3
1,Afghanistan,"Almonds, in shell",2020,22134.0,NaN,NaN,NaN,NaN,NaN,39307.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1775.9
2,Afghanistan,"Almonds, in shell",2021,36862.0,NaN,NaN,NaN,NaN,NaN,64256.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1743.2
3,Afghanistan,"Almonds, in shell",2022,36462.0,NaN,NaN,NaN,NaN,NaN,63515.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1742.0
4,Afghanistan,"Almonds, in shell",2023,37000.0,NaN,NaN,NaN,NaN,NaN,67000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1810.8
5,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",2019,25293.0,NaN,NaN,NaN,NaN,NaN,17807.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,704.1
6,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",2020,25558.0,NaN,NaN,NaN,NaN,NaN,17965.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,703.0
7,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",2021,25357.0,NaN,NaN,NaN,NaN,NaN,17876.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,705.0
8,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",2022,25403.0,NaN,NaN,NaN,NaN,NaN,17883.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,704.0
9,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",2023,25439.0,NaN,NaN,NaN,NaN,NaN,17908.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,704.0

In [28]:
pivot_df.columns

Index(['Area', 'Item', 'Year', 'Area harvested_ha', 'Laying_1000 An',
       'Milk Animals_An', 'Producing Animals/Slaughtered_1000 An',
       'Producing Animals/Slaughtered_An', 'Production_1000 No',
       'Production_t', 'Stocks_1000 An', 'Stocks_An', 'Stocks_No',
       'Yield/Carcass Weight_0.1 g_An', 'Yield/Carcass Weight_100 g_An',
       'Yield_100 g_An', 'Yield_100 mg_An', 'Yield_No_An', 'Yield_kg_ha'],
      dtype='object', name='Element_Unit')

In [29]:
pivot_df = pivot_df.drop(
    pivot_df.filter(regex="An").columns,
    axis=1
)

In [30]:
pivot_df.columns

Index(['Area', 'Item', 'Year', 'Area harvested_ha', 'Production_1000 No',
       'Production_t', 'Stocks_No', 'Yield_kg_ha'],
      dtype='object', name='Element_Unit')

In [31]:
pivot_df.drop(['Production_1000 No'],axis=1,inplace=True)

In [32]:
# 'Stocks_No'

pivot_df.drop(['Stocks_No'],axis=1,inplace=True)

In [33]:
pivot_df.reset_index(drop=True, inplace=True)

In [34]:
pivot_df

Element_Unit,Area,Item,Year,Area harvested_ha,Production_t,Yield_kg_ha
0,Afghanistan,"Almonds, in shell",2019,29203.0,38205.00,1308.3
1,Afghanistan,"Almonds, in shell",2020,22134.0,39307.00,1775.9
2,Afghanistan,"Almonds, in shell",2021,36862.0,64256.00,1743.2
3,Afghanistan,"Almonds, in shell",2022,36462.0,63515.00,1742.0
4,Afghanistan,"Almonds, in shell",2023,37000.0,67000.00,1810.8
...,...,...,...,...,...,...
92417,Zimbabwe,"Vanilla, raw",2019,23.0,9.88,423.8
92418,Zimbabwe,"Vanilla, raw",2020,23.0,9.93,430.3
92419,Zimbabwe,"Vanilla, raw",2021,23.0,9.92,426.4
92420,Zimbabwe,"Vanilla, raw",2022,23.0,9.91,426.8
92421,Zimbabwe,"Vanilla, raw",2023,23.0,9.92,427.8

In [35]:
crop_df=pivot_df.copy()

In [36]:
crop_df.columns

Index(['Area', 'Item', 'Year', 'Area harvested_ha', 'Production_t',
       'Yield_kg_ha'],
      dtype='object', name='Element_Unit')

####Data Type conversion

In [37]:
crop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92422 entries, 0 to 92421
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Area               92422 non-null  object
 1   Item               92422 non-null  object
 2   Year               92422 non-null  int64
 3   Area harvested_ha  47901 non-null  float64
 4   Production_t       81895 non-null  float64
 5   Yield_kg_ha        44980 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 4.2+ MB